:root {
  --icon-color: #ffffff;
  --gradient-normal: #0060ff, #0054db;
  --gradient-hover: #0047ba, #0047ba;
  --pulse-color: #0060ff;
}

.icon {
  width: 48px;
  height: 48px;
  transform: scale(0.6) translate(15%, 28%);
  fill: var(--icon-color);
}

.float {
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  transition: background 2s;
  background: linear-gradient(45deg, var(--gradient-normal));
  border-radius: 50px;
  z-index: 9000;
}

.float:hover {
  background: linear-gradient(45deg, var(--gradient-hover));
}

.float:hover .icon {
  fill: var(--icon-color);
}
